*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
:root{
    --corVioleta: violet;
    --corRoxa: purple;
    --corBranca: white;
    --corVio: #ed96ff; 
    --corMagenta: #b908e4;
    --corLilaz: #8d2c81;
    --corRoxoTriade: #9526c8;
    --corLilazAtual: #c04ce1;
}

html{
    scroll-behavior: smooth;
}

.interface{
    max-width: 1200px;
    padding: 0 4%;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: 2px solid var(--corBranca);
    border-radius: 10px;
    color: var(--corBranca);
    cursor: pointer;
    font-size: 1.1rem;
    transition: .5s;
}

button:hover{
    background-color: var(--corMagenta);

}

h1.titulo-sobre{
    color: var(--corBranca);
    font-size: 4rem;

}

H1.titulo-sobre span{
    color: var(--corRoxa);
}

h1.titulo-seção{
    font-size: 2.7rem;
    color: white;
}
h1.titulo-seção span{
    color: var(--corRoxa);
}

h1.titulo-contato{
    color: var(--corBranca);
}

/* estilo cabeçalho*/
header{
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background-image: linear-gradient( to left, var( --corVioleta)65%, var( --corRoxa) 35%);


}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logotipo-cabecalho img{
    max-width: 140px;;
}
header nav.menu-navegação ul{ 
    display: flex;
    align-items: center;
    list-style: none;
    gap : 56px;
    transition: 0.5s;
}
header nav.menu-navegação a{
    color: var(--corBranca);
    text-decoration: none;
    font-size: 1.1rem;
}
header nav.menu-navegação a:hover{
    color: var(--corRoxa);

}
header nav.menu-navegação button{
    width: 100px;
    height: 40px;
}
/* Estilo da hero */
section.hero{

    background-image: linear-gradient( to left, var( --corVioleta)65%, var( --corRoxa) 35%);
    padding-top: 240px;
}

.hero > .interface{
    display: flex;
    align-items: center;
    gap: 170px;

}

.hero .txt-hero{
    line-height: 1.1;
}

.hero .txt-hero h1{
    font-size: 2.5rem;
    color: var(--corBranca);
    font-weight: 300;
}
.hero .txt-hero h1 span{
    color: var(--corRoxa);
    display: block;
    font-weight: 500;
    font-size: 3rem;
}

.hero .txt-hero p{
    color: var(--corBranca);
    line-height: 1.3;
    font-size: 1rem;
    margin: 20px 0;
}
.hero .txt-hero button{
    width: 100px;
    height: 48px;
    margin: 10px 0;
}

/* Estilo Sobre Mim*/
section.sobre-mim{
    padding: 100px 0;
    background-color: var(--corLilazAtual);

}

.sobre-mim > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

.sobre-mim .txt-sobre p{
    color: var(--corBranca);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;

}

/* Meus Projetos */

section.projects{
    background-color: var(--corMagenta);
    padding: 150px 0;


}

.projects article{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 16px;
    margin: 24px 0;
    
}

.projects .box-meusprojetos{
    background-color: var(--corVio);
    padding: 24px;
    border-radius: 16px;
    color: var(--corBranca);
}

.box-meusprojetos .icons-projetos{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;

}

.box-meusprojetos .icons-projetos img{
    max-width: 80px;
}

.icons-projetos h2{
    color: var(--corBranca);
}
.icons-projetos h2 span{
    color: var(--corRoxa);
}

.box-meusprojetos p{
    color: var(--corBranca);
    text-align: justify;
    line-height: 1.4;
}

/* Estilo Contatos */
 section.contato{
    padding: 80px 0;
   background-color: var(--corLilazAtual);
 }
 .contato > .interface{
    display: flex;
    justify-content: space-between;
 }
.contato .txt-contato p{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
    color: var(--corBranca);
}
 .contato .txt-contato p i{
    color: var(--corRoxa);
    font-size: 1.3rem;
 }

 .contato .txt-contato span{
    color: var(--corRoxa);
 }

 .contato form{
    width: 50%;
 }

 .contato form input, .contato form textarea{
    width: 100%;
    padding: 16px 10px;
    background: transparent;
    border: 2px solid var(--corRoxa);
    outline: none;
    color: var(--corBranca);
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 8px;
    
 }

 .contato form textarea{
    resize: none;
    height: 150px;

 }

 .contato form .btn-enviar input{
   border-color: var(--corBranca);
   transition: .5s;
   cursor: pointer;
   font-weight: 400;
   font-size: 1.2rem;
 }

 .contato form .btn-enviar input:hover{
    background-color: var(--corRoxa);
    color: var(--corVio);
    border-color: var(--corVio);

 }

 footer{
    padding: 15px 0;
    background-color: var(--corMagenta);

 }
 footer > .interface{
    display: flex;
    color: var(--corBranca);
 }


 



